<!-- Meta Tag Overrides -->
<meta name="description" content="Share logins with friends, get reminders to claim your daily rewards, and get alerts on suspicious activity." />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://attituding.github.io/NotifHy/">
<meta property="og:description" content="Share logins with friends, get reminders to claim your daily rewards, and get alerts on suspicious activity.">
<meta property="og:image" content="https://i.imgur.com/tltt0Si.png">
<meta name="theme-color" content="#7F0000">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://attituding.github.io/NotifHy/">
<meta property="twitter:description" content="Share logins with friends, get reminders to claim your daily rewards, and get alerts on suspicious activity.">
<meta property="twitter:image" content="https://i.imgur.com/tltt0Si.png">
<!-- Meta Tag Overrides End -->