<!-- Meta Tag Overrides -->
<meta name="description" content="NotifHy is a bot focused on alerts and notifications for the Hypixel server." />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://attituding.github.io/NotifHy/invite/">
<meta property="og:title" content="NotifHy">
<meta property="og:description" content="NotifHy is a bot focused on alerts and notifications for the Hypixel server.">
<meta property="og:image" content="https://i.imgur.com/tltt0Si.png">
<meta name="theme-color" content="#7F0000">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://attituding.github.io/NotifHy/invite/">
<meta property="twitter:title" content="NotifHy">
<meta property="twitter:description" content="NotifHy is a bot focused on alerts and notifications for the Hypixel server.">
<meta property="twitter:image" content="https://i.imgur.com/tltt0Si.png">
<!-- Meta Tag Overrides End -->

<link href="../static/color.css" rel="stylesheet" />