<!-- Meta Tag Overrides -->
<meta name="description" content="Share logins with friends, get reminders to claim daily rewards, and get alerts on suspicious activity." />
<meta name="theme-color" content="#DCAF4E">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://attituding.github.io/NotifHy/">
<meta property="og:description" content="Share logins with friends, get reminders to claim daily rewards, and get alerts on suspicious activity.">
<meta property="og:image" content="/assets/notifhy-icon.png">

<!-- Twitter -->
<meta property="twitter:card" content="summary">
<meta property="twitter:url" content="https://attituding.github.io/NotifHy/">
<meta property="twitter:description" content="Share logins with friends, get reminders to claim daily rewards, and get alerts on suspicious activity.">
<meta property="twitter:image" content="/assets/notifhy-icon.png">
<!-- Meta Tag Overrides End -->